$grey: #777;
$grey2: #dfe3e4;
$blue: #2183dd;
$red: #e71313;
$white: #fff;

.progress_container {
  background: rgb(245, 255, 199);
  width: auto;
  height: auto;
  position: relative;
  padding: 2%;
  margin: 1rem;
  text-align: center;

  .step_progressbar {
    position: relative;
    padding: 2%;
  }

  .progress_ {
    position: relative;
    display: flex;
    //transform: translateY(50%); //make bar centered

    //Background Track(bar)
    .progress-track {
      position: absolute;
      top: 5px;
      background-color: $grey2;
      width: 100%;
      height: 5px;
    }

    //each step of the progress bar
    .progress-step {
      position: relative;
      width: 100%;
      text-align: center;
      font-size: 14px;

      &:before {
        content: "";
        // content: "\f00c";
        display: flex;
        margin: 0 auto;
        margin-bottom: 10px;

        background: $white;
        width: 15px;
        height: 15px;
        border: 4px solid $grey2;
        border-radius: 100%;
        color: $white;
      }

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        background: $grey2;
        top: 6px;
        transition: width 1s ease-in;
      }

      // Step's active state

      &.is-active {
        color: $blue;

        &:before {
          border: 4px solid $grey;
          animation: pulse 2s infinte;
        }
      }

      &.is-complete {
        color: $red;
        // Step's circle in complete state
        &:before {
          font-size: 10px;
          color: $white;
          background: $red;
          border: 4px solid transparent;
        }
        // Step's progress bar in complete state
        &:after {
          background: $blue;
          animation: nextStep 1s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

// Animations --------------------------------------
// Pulse animation for Step's circle in active state

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}

// Progressing to next step animation for Step's progress bar
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

#modalContent {
  font-size: 130%;
}

.header {
  padding: 3%;
}

.comment_container_overview_result {
  font-size: 70%;
}

.comment_container_overview_result_persuasive {
  font-size: 70%;
}
